# Env
.env*
!.env.local.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.cache/

# Next.js
.next/
out/
.next/static/
.vercel/
.env
.env.*.local

# Tooling & misc
dist/
dist-tests/
coverage/
tsconfig.tsbuildinfo
.DS_Store
Thumbs.db
*.log
*.tmp
.vscode/
.idea/